
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(15, 26, 31);
    color: rgb(80, 210, 193);
    font-family: monospace;
    line-height: 1.6;
    padding: 4% 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-style {
    text-decoration: none !important;
}

.body {
    outline: rgb(80, 210, 193);
    outline-style: solid;
    outline-width: 0.5%;
    width: 90%;
    max-width: 1000px;
    min-width: 300px;
    padding: 2% 2%;
    text-align: center;
}

header {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 3rem;
    color: #45ddde;
}


h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding-top: 2%;
}

section {
    padding: 2% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    outline: rgb(80, 210, 193);
    outline-style: solid;
    outline-width: 0.5%;
    width: 80%;
    margin: 1% 0;
    padding: 0.5% 0;
}

.donation-method {
    outline: rgb(80, 210, 193);
    outline-style: solid;
    outline-width: 0.5%;
    width: 80%;
    margin: 1% 0;
    padding: 0.5% 0;
}

a {
    color: #3ce6c6;
}